@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-blue-200: theme('colors.blue.200');
  --tw-red-200: theme('colors.red.200');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
