{{ block "base" . }}
<!DOCTYPE html>
<html>
    <head>
        <title>Coolify</title>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    </head>
    <body>
    </body>
</html>
{{ end }}

