{{ block "create_account_organization" . }}
<!DOCTYPE html>
<html>
    <head>
        <title>Coolify - Sign Up</title>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    </head>
    <body>
        <h1>Create Organization</h1>
        <form hx-post="/create-account/organization">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" autocomplete="off">
            <button type="submit">Create</button>
        </form>
    </body>
</html>
{{ end }}
