{{ block "index" . }}
<!DOCTYPE html>
<html>
    <head>
        <title>Coolify</title>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="font-sans">
        <div class="size-full flex flex-col p-4 bg-white">
            <div class="flex space-x-4">
                <span>Coolify</span>
                <span>{{ .User.Username }}</span>
                <span>{{ .Organization.Name }}</span>
            </div>

            {{ template "weekly_shifts" . }}
        </div>
    </body>
</html>
{{ end }}

