{{ block "login" . }}
<!DOCTYPE html>
<html>
    <head>
        <title>Coolify - Login</title>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        <h1>Login</h1>
        <form hx-post="/login">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
        <a href="/sign_up">Sign Up</a>
    </body>
</html>
{{ end }}
