{{ block "sign_up" . }}
<!DOCTYPE html>
<html>
    <head>
        <title>Coolify - Sign Up</title>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form hx-post="/sign_up">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Sign Up</button>
        </form>
        <a href="/login">Login</a>
    </body>
</html>
{{ end }}
