{{ block "weekly_shifts" . }}
    <div id="week_load">
        <!-- HEADERS -->
        <div class="w-full h-24 grid grid-cols-8" style="grid-template-columns: 300px repeat(7, 1fr);">
            <!-- DATE SELECTOR -->
            <div class="flex items-center gap-8 mx-10">
                <button class="flex-none size-6 font-semibold" hx-get="{{ GetPreviousWeekURL .Year .Week }}" hx-target="#week_load" hx-swap="outerHTML">
                    {{ template "icon_previous" }}
                </button>
                <div class="grow select-none flex justify-center items-center text-blue-600 font-semibold">
                    {{ GetWeekSummary .Year .Week }}
                </div>
                <button class="flex-none size-6 font-semibold" hx-get="{{ GetNextWeekURL .Year .Week }}" hx-target="#week_load" hx-swap="outerHTML">
                    {{ template "icon_next" }}
                </button>
            </div>
            <!-- END DATE SELECTOR -->

            {{ range .Headers }}
                <div class="select-none flex justify-center items-center">
                    <div class="flex items-end gap-1 {{ if .IsToday }} text-blue-600 {{ end }}">
                        <div class="uppercase text-xl font-semibold">{{ .WeekDay }}</div>
                        <div class="">{{ .WeekNumber }}</div>
                    </div>
                </div>
            {{ end }}
        </div>
        <!-- END HEADERS -->

        <!-- SHIFTS -->
        {{ range .Rows }}
            <div class="h-24 grid grid-cols-8 border-b-[1px] border-gray-200 last:border-b-0" style="grid-template-columns: 300px repeat(7, 1fr);">
                {{ template "user_load" . }}
                {{ range .Shifts }}
                    {{ template "shift" . }}
                {{ end }}
            </div>
        {{ end }}
        <!-- END SHIFTS -->
    </div>
{{ end }}
