{{ define "shift" }}
    {{ if gt (len .) 0 }}
        <div class="select-none flex justify-center items-center border-r-[1px] border-gray-200 last:border-r-0">

            <div
                class="
                    flex flex-col justify-between w-full h-[65px]
                    {{ if . | AreShiftsOff }} bg-red-100 {{ else }} bg-blue-100 {{ end }}
                    {{ if . | AreShiftsOff }} border-red-300 {{ else }} border-blue-300 {{ end }} border-[1px]
                    rounded-lg p-1 m-1
                "
                style="
                    {{ if not (. | IsDayFull) }}
                        {{ if . | AreShiftsOff }}
                            background-image: repeating-linear-gradient(-45deg, transparent 0 16px, var(--tw-red-200) 16px 32px)
                        {{ else }}
                            background-image: repeating-linear-gradient(-45deg, transparent 0 16px, var(--tw-blue-200) 16px 32px)
                        {{ end }}
                    {{ end }}
                "
            >

                <div class="flex gap-2">
                    <div class="
                        flex items-center justify-center w-6 h-6 rounded-lg
                        {{ if . | AreShiftsOff }} bg-red-600 {{ else }} bg-blue-600 {{ end }}
                    ">
                        {{ template "icon_shift_work" }}
                    </div>
                    <div class="">{{ . | GetShiftsTime }}</div>
                </div>

                <div class="flex gap-2">
                    {{ if gt (len .) 1 }}
                    <div
                        class="
                            flex items-center justify-center w-6 h-6 text-white rounded-full
                            {{ if . | AreShiftsOff }} bg-red-400 {{ else }} bg-blue-400 {{ end }}
                        ">
                        {{ len . }}
                    </div>
                    {{ end }}
                    <div class="{{ if . | AreShiftsOff }} text-red-500 {{ else }} text-blue-500 {{ end }}">Open Shift 1</div>
                </div>

            </div>

        </div>
    {{ else }}
        <div class="select-none flex justify-center items-center border-r-[1px] border-gray-200 last:border-r-0">
            <div class="flex justify-center items-center w-full h-[65px] rounded-lg p-1 m-2 text-2xl text-blue-600 hover:bg-blue-200/[.5] cursor-pointer hover:visible">+</div>
        </div>
    {{ end }}
{{ end }}
