{{ block "user_load" . }}
    <div class="flex border-r-[1px] border-gray-200 p-2 gap-2 pr-8">
        <!-- USER IMAGE -->
    <div class="select-none flex-none flex justify-center items-center size-11 rounded-full bg-gray-200 text-white text-xl font-bold">{{ .User.Firstname.Value | FirstLetter }}{{ .User.Lastname.Value | FirstLetter }}</div>
        <div class="shrink flex flex-col size-full">
            <!-- USER NAME -->
            <div class="h-full justify-center font-semibold">{{ .User.Firstname.Value }} {{ .User.Lastname.Value }}</div>
            <div class="h-full justify-center">{{ .Shifts | GetWeeklyTime }} / 40h</div>
            <div class="h-full flex justify-center items-center">
                <!-- USER LOAD -->
                <div class="w-full h-[6px] bg-blue-200 rounded-full">
                    <div class="h-full bg-blue-600 rounded-full" style="width: {{ .Shifts | GetWeeklyLoad }}%;"></div>
                </div>
            </div>
        </div>
    </div>
{{ end }}


